<aside class="component component-callout component-callout-<%= (attributes.tone || 'note').toLowerCase() %>">
  <p class="component-label"><%= attributes.label || attributes.tone || 'Note' %></p>
  <div class="component-content">
    <%- content %>
  </div>
</aside>
